@{
    ViewData["Title"] = "Calculate the Fibonacci Sequence";
}
<h2>@ViewData["Title"].</h2>

<form asp-controller="Fibonacci"
      asp-action="Calculate"
      method="get">
    Calculate Fibonacci's Sequence out to:
    <input type="number" name="quantity" min="1" max="5000" value="3000">
    <br />
    <input type="submit" value="Send"/>
    @if(ViewData["value"] != null)
    {
        <div>Last Calculation Returned: @(ViewData["value"])</div>
    }
</form>