@{
    ViewData["Title"] = "Receive Data";
}
<h2>@ViewData["Title"].</h2>
@if (!(bool)ViewData["rabbitEnabled"])
{
    <h3 style="color: red">RabbitMQ service not bound</h3>
}
else
{
    <h3>Message=@ViewData["Message"]</h3>
}
